@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
    background: black;
    /* seçilən hissənin fon rəngi */
    color: white;
    /* seçilən yazının rəngi */
}

.icon {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #f8f9fa;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ilksehife {
    height: calc(100vh - 80px);
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;
    margin-bottom: 100px;
}

.menu ul {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 50px;
}

.menu ul li {
    list-style: none;
}

.logo p {
    font-size: 35px;
}

.logo p span {
    color: #a2c0be;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.first-img img {
    width: 450px;
    height: 690px;
}

.first-text h1 {
    font-size: 4rem;
    width: 500px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.first-text p {
    color: #999999;
    font-size: 20px;
    font-weight: 200;
    width: 400px;
    padding-top: 10px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fa-caret-down {
    padding-left: 10px;
}

.ikinci-hisse {
    padding-left: 200px;
    padding-right: 200px;
}

.welcome-hissesi {
    text-align: center;
}

.sol {
    color: #e3eceb;
    font-size: 20px;
    transform: rotate(-15deg);
    /* sola əyilsin */
}

.orta {
    font-size: 40px;
    margin: 0 5px;
    color: #a2c0be;
    /* ortadakı düz qalsın */
}

.sag {
    color: #e3eceb;
    font-size: 20px;
    transform: rotate(15deg);
    /* sağa əyilsin */
}

.welcome-text {
    text-align: center;
    margin-bottom: 60px;
}

.welcome-text h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 0;
}

.welcome-text p {
    color: #808080;
    width: 550px;
    text-align: center;
    margin: auto;
}

.lovecare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.lovecare-text {
    text-align: right;
}

.lovecare-img img {
    height: 350px;
    width: 500px;
    box-shadow: 10px 10px 0px #a2c0be;
    margin-left: 120px;
}

.lovecare-text h2 {
    font-size: 35px;
    font-weight: 400;
    padding: 7px 0;
}

.lovecare-text p {
    padding: 0 0 30px 0;
    color: #80848c;
    line-height: 1.5;
}

.lovecare-text a {
    text-decoration: none;
    color: white;
    background-color: #a2c0be;
    padding: 10px 30px;
    border-radius: 20px;
}





.Fearsome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Fearsome-text {
    text-align: left;
}

.Fearsome-img img {
    height: 350px;
    width: 500px;
    box-shadow: 10px 10px 0px #a2c0be;
    margin-right: 120px;
}

.Fearsome-text h2 {
    font-size: 35px;
    font-weight: 400;
    padding: 7px 0;
}

.Fearsome-text p {
    padding: 0 0 30px 0;
    color: #80848c;
    line-height: 1.5;
}

.Fearsome-text a {
    text-decoration: none;
    color: white;
    background-color: #a2c0be;
    padding: 10px 30px;
    border-radius: 20px;
}

#sonuncu {
    margin-bottom: 100px;
}

/*about us hissesi*/

.aboutus-hissesi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    height: 100vh;
    padding-bottom: 100px;
}

.aboutus-text h2 {
    padding: 15px 0px;
    font-size: 2rem;
}

.aboutus-img img {
    height: 700px;
    width: 550px;
}

.separated {
    padding-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 300;
    color: gray;
    line-height: 1.5;
}

.asmall {
    color: #6c757d !important;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 25px;
}

.aboutus-icon {
    font-size: 25px;
    color: #a2c0be;
    padding-right: 12px;
}

.uclu {
    font-size: 16px;
    color: #808080;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

/*ourtrainers-hissesinin text basladi */


.ourtrainers-text {
    text-align: center;

}

.ourtrainers-text h2 {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ourtrainers-text p {
    color: #9a9a9a;
    font-size: 16px;
    width: 65%;
    margin: auto;
    padding-bottom: 50px;
}

/*ourtrainers-hissesinin text bitti */


/*ourtrainers-hissesinin 3 lu sekil hissesi basladi */
.cards-img img {
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.uclu-hisse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 100px;
}

.cards-text {
    padding-left: 10px;
}

.cards-text p {
    width: 350px;
    line-height: 1.7;
    color: #6c757d;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 10px;
}

.cards-text h3 {
    padding: 30px 0 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ucluicon {

    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

}

.ucluicon div:hover {
    background-color: white;
    color: #a2c0be;
    border: 1px solid #a2c0be;
}

.ucluicon div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #a2c0be;
    color: white;
    padding: 10px 10px;
}

/* qiymetcedveli-3lu basladi */
.qiymetcedveli-3lu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 100px;
}

.ucude {
    height: auto;
    width: 100%;
    background-color: red;

    padding: 40px 30px 0 30px;

    h3 {
        font-weight: 500;
        font-size: 1.7rem;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    span {
        font-size: 1rem;
    }

    h2 {
        font-weight: 400;
        font-size: 2.7rem;
        padding-bottom: 20px;
    }

    h3,
    h2 {
        text-align: center;
    }

    p {
        font-size: 1rem;
        padding-bottom: 15px;
    }

}

.fa-check {
    padding-right: 20px;
}

.qiymetcedveli-1 {
    background-color: #a2c0be;
}

.qiymetcedveli-2 {
    background-color: #343a40;
}

.qiymetcedveli-3 {
    background-color: #a2c0be;
}

.passiv {
    text-decoration: line-through;
    color: #c7d9d8
}

.buyknow {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    width: 200px;
}

.button1 {
    text-align: center;
    padding: 30px 0 50px 0;
}

.ortabutton1 {
    background-color: #a2c0be;
}

.ortabutton1:hover {
    background-color: black;
}

.solbutton1 {
    background-color: #5a6268;
}

.solbutton1:hover {
    background-color: #5a6268cd;
}



/* qiymetcedveli-3lu bitdi */











@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 5px 20px;
        overflow: hidden;
    }

    .icon {
        display: block;
        font-size: 30px;
    }

    .ilksehife {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        margin: 0;
        overflow: hidden;
        margin-bottom: 40px;
    }

    .first-img img {
        max-width: 300px;
        max-height: 570px;
        overflow: hidden;
        margin: -50px;
    }

    .first-text h1 {
        width: 100%;
        max-width: 100%;
    }

    .first-text p {
        width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
    }

    /*Welcome to Dogger Pet Care in text hissesi*/

    .ikinci-hisse {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .welcome-hissesi {
        width: 100%;
    }

    .welcome-text h2 {
        font-size: 25px;
        width: 100%;
    }

    .welcome-text p {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .lovecare {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .lovecare-text {
        text-align: left;
    }

    .lovecare-img img {
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: auto
    }

    .lovecare-text p {
        width: 100%;
    }

    .lovecare-text a {
        width: 100%;
    }

    .Fearsome {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .Fearsome-text {
        text-align: left;
    }

    .Fearsome-img img {
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: auto
    }

    .Fearsome-text p {
        width: 100%;
    }

    .Fearsome-text a {
        width: 100%;
    }

    #sonuncu {
        margin-bottom: 20px;

    }


    .aboutus-hissesi {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;
    }

    .aboutus-text h2 {
        padding: 15px 0px;
        font-size: 2rem;
    }

    .aboutus-img img {
        height: 30%;
        max-height: 30%;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .separated {
        padding-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 300;
        color: gray;
        line-height: 1.5;
    }

    .asmall {
        color: #6c757d !important;
        line-height: 1.7;
        font-weight: 400;
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .aboutus-icon {
        font-size: 25px;
        color: #a2c0be;
        padding-right: 12px;
    }

    .uclu {
        font-size: 16px;
        color: #808080;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
    }



    /*ourtrainers-hissesinin text basladi */

    .ourtrainers-text {
        text-align: left;
        margin-top: -30px;
    }

    .ourtrainers-hissesi {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .ourtrainers-text {
        padding-top: 30px;
        width: 100%;
        max-width: 100%;
    }


    .ourtrainers-text p {
        width: 100%;
        padding-bottom: 30px;
    }

    /*ourtrainers-hissesinin text bitti */


    /*ourtrainers-hissesinin 3 lu sekil hissesi basladi */
    .cards-img img {
        width: 100%;
    }

    .uclu-hisse {
        flex-direction: column;
        gap: 20px;
    }

    .cards-text {
        padding-left: 10px;
    }

    .cards-text p {
        width: 100%;
        line-height: 1.5;
        color: #6c757d;
        font-weight: 400;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    
    /* qiymetcedveli-3lu basladi */
    .qiymetcedveli-3lu {
        flex-direction: column;
        padding-bottom: 100px;
        
    }

    .PricingTable-hissesi{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* qiymetcedveli-3lu bitdi */

}