@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karma:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::selection {
    background: black;
    /* seçilən hissənin fon rəngi */
    color: white;
    /* seçilən yazının rəngi */
}

.icon {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #f8f9fa;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ilksehife {
    height: calc(100vh - 80px);
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;
    margin-bottom: 100px;
}

.menu ul {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 50px;
}

.menu ul li {
    list-style: none;
}

.logo p {
    font-size: 35px;
}

.logo p span {
    color: #a2c0be;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.first-img img {
    width: 450px;
    height: 750px;
}

.first-text h1 {
    font-size: 4rem;
    width: 500px;
    font-weight: 700;
    line-height: 1.1;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.first-text p {
    color: #999999;
    font-size: 20px;
    font-weight: 200;
    width: 400px;
    padding-top: 10px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fa-caret-down {
    padding-left: 10px;
}

.ikinci-hisse {
    padding-left: 200px;
    padding-right: 200px;
}

.welcome-hissesi {
    text-align: center;
}

.sol {
    color: #e3eceb;
    font-size: 20px;
    transform: rotate(-15deg);
    /* sola əyilsin */
}

.orta {
    font-size: 40px;
    margin: 0 5px;
    color: #a2c0be;
    /* ortadakı düz qalsın */
}

.sag {
    color: #e3eceb;
    font-size: 20px;
    transform: rotate(15deg);
    /* sağa əyilsin */
}

.welcome-text {
    text-align: center;
    margin-bottom: 60px;
}

.welcome-text h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 10px 0;
}

.welcome-text p {
    color: #808080;
    width: 550px;
    text-align: center;
    margin: auto;
}

.lovecare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.lovecare-text {
    text-align: right;
}

.lovecare-img img {
    height: 350px;
    width: 500px;
    box-shadow: 10px 10px 0px #a2c0be;
    margin-left: 120px;
}

.lovecare-text h2 {
    font-size: 35px;
    font-weight: 400;
    padding: 7px 0;
}

.lovecare-text p {
    padding: 0 0 30px 0;
    color: #80848c;
    line-height: 1.5;
}

.lovecare-text a {
    text-decoration: none;
    color: white;
    background-color: #a2c0be;
    padding: 10px 30px;
    border-radius: 20px;
}





.Fearsome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Fearsome-text {
    text-align: left;
}

.Fearsome-img img {
    height: 350px;
    width: 500px;
    box-shadow: 10px 10px 0px #a2c0be;
    margin-right: 120px;
}

.Fearsome-text h2 {
    font-size: 35px;
    font-weight: 400;
    padding: 7px 0;
}

.Fearsome-text p {
    padding: 0 0 30px 0;
    color: #80848c;
    line-height: 1.5;
}

.Fearsome-text a {
    text-decoration: none;
    color: white;
    background-color: #a2c0be;
    padding: 10px 30px;
    border-radius: 20px;
}

#sonuncu {
    margin-bottom: 100px;
}

/*about us hissesi*/

.aboutus-hissesi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    height: 100vh;
    padding-bottom: 100px;
}

.aboutus-text h2 {
    padding: 15px 0px;
    font-size: 2rem;
}

.aboutus-img img {
    height: 700px;
    width: 550px;
}

.separated {
    padding-bottom: 15px;
    font-size: 1.25rem;
    font-weight: 300;
    color: gray;
    line-height: 1.5;
}

.asmall {
    color: #6c757d !important;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 25px;
}

.aboutus-icon {
    font-size: 25px;
    color: #a2c0be;
    padding-right: 12px;
}

.uclu {
    font-size: 16px;
    color: #808080;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}

/*ourtrainers-hissesinin text basladi */


.ourtrainers-text {
    text-align: center;

}

.ourtrainers-text h2 {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ourtrainers-text p {
    color: #9a9a9a;
    font-size: 16px;
    width: 65%;
    margin: auto;
    padding-bottom: 50px;
}

/*ourtrainers-hissesinin text bitti */


/*ourtrainers-hissesinin 3 lu sekil hissesi basladi */
.cards-img img {
    width: 350px;
    height: 500px;
    object-fit: cover;
}

.uclu-hisse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 100px;
}

.cards-text {
    padding-left: 10px;
}

.cards-text p {
    width: 350px;
    line-height: 1.7;
    color: #6c757d;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 10px;
}

.cards-text h3 {
    padding: 30px 0 20px 0;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ucluicon {

    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

}

.ucluicon div:hover {
    background-color: white;
    color: #a2c0be;
    border: 1px solid #a2c0be;
}

.ucluicon div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #a2c0be;
    color: white;
    padding: 10px 10px;
}

/* qiymetcedveli-3lu basladi */

.PricingTable-hissesi {
    height: auto;
}

.qiymetcedveli-3lu {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
    height: auto;
}

.ucude {
    height: auto;
    width: 100%;
    background-color: red;

    padding: 40px 30px 0 30px;

    h3 {
        font-weight: 500;
        font-size: 1.7rem;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    span {
        font-size: 1rem;
    }

    h2 {
        font-weight: 400;
        font-size: 2.7rem;
        padding-bottom: 20px;
    }

    h3,
    h2 {
        text-align: center;
    }

    p {
        font-size: 1rem;
        padding-bottom: 15px;
    }

}

.fa-check {
    padding-right: 20px;
}

.qiymetcedveli-1 {
    background-color: #a2c0be;
}

.qiymetcedveli-2 {
    background-color: #343a40;
}

.qiymetcedveli-3 {
    background-color: #a2c0be;
}

.passiv {
    text-decoration: line-through;
    color: #c7d9d8
}

.buyknow {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    width: 200px;
}

.button1 {
    text-align: center;
    padding: 30px 0 50px 0;
}

.ortabutton1 {
    background-color: #a2c0be;
}

.ortabutton1:hover {
    background-color: black;
}

.solbutton1 {
    background-color: #5a6268;
}

.solbutton1:hover {
    background-color: #5a6268cd;
}

/* qiymetcedveli-3lu bitdi */


/*Frequently Ask Questions basladi*/
.Frequently-hissesi {
    width: 100%;
}

.ikisi-birlikde {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 100px;
}

.frequently-img img {
    max-width: 600px;
}

details {
    padding-bottom: 10px;
}

.fre-icon {
    background-color: #a2c0be;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

details summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.frequently-text {
    width: 600px;
}

details summary i {
    color: #a2c0be;
    font-size: 25px;
    transition: transform 0.3s;
}

details[open] summary i {
    transform: rotate(360deg);
    background-color: white;
    color: #a2c0be !important;
    border: 1px solid #a2c0be !important;
}

details p {
    padding-left: 50px;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 16px;
}

/*Frequently Ask Questions bitdi*/

.HappyCustomers-hissesi {
    background-color: #f8f9fa;
    padding-left: 200px;
    padding-right: 200px;
    height: 110vh;
}

.HappyCustomers-basliq {
    padding-top: 50px;
    margin-bottom: -75px;
}

.uclu-customer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer123 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bubble-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #a2c0be;
}

.buble-ad h3 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.bubble {
    width: 350px;
    height: 300px;
    background-color: #a2c0be;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
    position: relative;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #3333336d;
}

.bubble p {
    width: 90%;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    color: #000;
    font-family: "Vollkorn", serif;

}

.bubble::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 30px 25px 0;
    border-style: solid;
    border-color: #a2c0be transparent transparent transparent;
}

.ox-isareleri {
    font-size: 30px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 0;
}

.fa-arrow-left {
    font-weight: 200;
    padding-right: 50px;
}

/*PhotoGallery-basliq hissesi*/
.PhotoGallery-basliq {
    padding-top: 50px;
}

.photo {
    margin-bottom: 50px;
}

.PhotoGallery-basliq .ourtrainers-text h2 {
    padding-bottom: 50px;
}

.PhotoGallery-sekilhissesi {
    margin-bottom: 150px;
}

.PhotoGallery-sekilhissesi div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 400px;
    }

    img {
        transition: transform 0.3s ease;
        /* yumşaq animasiya */
        cursor: zoom-in;
    }

    img:hover {
        transform: scale(1.2);
        /* oxu gətirəndə böyüsün */
    }
}

.PhotoGallery-sekilmobil {
    display: none;
}

/*PhotoGallery-basliq bitdi*/


.ourtrainers-text h2 {
    padding-bottom: 0px !important;
}

.DoggerBlog-hissesi {
    padding-right: 200px;
    padding-left: 200px;

}

.DoggerBlog-ikincihisse img {
    width: 200px;
    padding-right: 20px;
}

.DoggerBlog-ikincihisse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.ikinci h3 {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.aprel {
    line-height: 1.7;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.ilk1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.fartheway {
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}

.readmore {
    line-height: 1.7;
    color: #a2c0be;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.ikinci {
    display: flex;
}

.ikinci-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.DoggerBlog-hissesi {
    margin-top: -100px;
}

.doggerblog-sekilmobil {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 5px 20px;
        overflow: hidden;
    }

    .icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .ilksehife {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        margin: 0;
        overflow: hidden;
        margin-bottom: 40px;
    }

    .first-img img {
        max-width: 300px;
        max-height: 570px;
        overflow: hidden;
        margin: -50px;
    }

    .first-text h1 {
        width: 100%;
        max-width: 100%;
    }

    .first-text p {
        width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
    }

    /*Welcome to Dogger Pet Care in text hissesi*/

    .ikinci-hisse {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .welcome-hissesi {
        width: 100%;
    }

    .welcome-text h2 {
        font-size: 25px;
        width: 100%;
    }

    .welcome-text p {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .lovecare {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .lovecare-text {
        text-align: left;
    }

    .lovecare-img img {
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: auto
    }

    .lovecare-text p {
        width: 100%;
    }

    .lovecare-text a {
        width: 100%;
    }

    .Fearsome {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    .Fearsome-text {
        text-align: left;
    }

    .Fearsome-img img {
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: auto
    }

    .Fearsome-text p {
        width: 100%;
    }

    .Fearsome-text a {
        width: 100%;
    }

    #sonuncu {
        margin-bottom: 20px;

    }


    .aboutus-hissesi {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;
    }

    .aboutus-text h2 {
        padding: 15px 0px;
        font-size: 2rem;
    }

    .aboutus-img img {
        height: 30%;
        max-height: 30%;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .separated {
        padding-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 300;
        color: gray;
        line-height: 1.5;
    }

    .asmall {
        color: #6c757d !important;
        line-height: 1.7;
        font-weight: 400;
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .aboutus-icon {
        font-size: 25px;
        color: #a2c0be;
        padding-right: 12px;
    }

    .uclu {
        font-size: 16px;
        color: #808080;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
    }



    /*ourtrainers-hissesinin text basladi */

    .ourtrainers-text {
        text-align: left;
        margin-top: -30px;
    }

    .ourtrainers-hissesi {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .ourtrainers-text {
        padding-top: 30px;
        width: 100%;
        max-width: 100%;
    }


    .ourtrainers-text p {
        width: 100%;
        padding-bottom: 30px;
    }

    /*ourtrainers-hissesinin text bitti */


    /*ourtrainers-hissesinin 3 lu sekil hissesi basladi */
    .cards-img img {
        width: 100%;
    }

    .uclu-hisse {
        flex-direction: column;
        gap: 20px;
    }

    .cards-text {
        padding-left: 10px;
    }

    .cards-text p {
        width: 100%;
        line-height: 1.5;
        color: #6c757d;
        font-weight: 400;
        font-size: 1rem;
        padding-bottom: 10px;
    }


    /* qiymetcedveli-3lu basladi */
    .qiymetcedveli-3lu {
        flex-direction: column;
    }

    .PricingTable-hissesi {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    /* qiymetcedveli-3lu bitdi */

    /*Frequently Ask Questions basladi*/
    .Frequently-hissesi {
        width: 100%;
        padding-left: 15px !important;
        padding-right: 15px !important;
        padding-bottom: -200px;
    }

    .ikisi-birlikde {
        flex-direction: column;
        gap: 30px;
    }

    .frequently-img img {
        max-width: 100%;
        margin-bottom: -50px;
    }

    .frequently-text {
        width: 100%;
    }

    /*Frequently Ask Questions bitdi*/

    /*Frequently Ask Questions basladi*/
    .HappyCustomers-hissesi {
        padding-left: 15px;
        padding-right: 15px;
        height: auto;
    }

    .HappyCustomers-basliq {
        padding-top: 50px;
        margin-bottom: -50px;
    }

    .uclu-customer {
        width: 100%;
        flex-direction: column;
        gap: -200px;
    }

    .customer123 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .bubble-img img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid #a2c0be;
    }

    .buble-ad h3 {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .bubble {
        width: 100%;
        height: 230px;
        background-color: #a2c0be;
        color: #000;
        padding: 8px;
        border-radius: 8px;
        font-style: italic;
        position: relative;
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px #3333336d;
    }

    .bubble p {
        width: 90%;
        text-align: center;
        font-style: italic;
        font-weight: 400;
        font-size: 19px;
        line-height: 1.5;
        color: #000;
        font-family: "Vollkorn", serif;

    }

    .bubble::after {
        content: "";
        position: absolute;
        bottom: -19px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 30px 25px 0;
        border-style: solid;
        border-color: #a2c0be transparent transparent transparent;
    }

    .ox-isareleri {
        padding-bottom: 30px;
    }

    .fa-arrow-left {
        padding-right: 20px;
    }

    /*Frequently Ask Questions bitdi*/

    /*PhotoGallery-basliq hissesi*/
    .PhotoGallery-hissesi {
        padding-left: 10px;
        padding-right: 10px;
    }

    .PhotoGallery-sekilmobil {
        width: 100%;
    }

    .PhotoGallery-basliq {
        padding-top: 50px;
    }

    .ourtrainers-text h2 {
        padding-bottom: 50px;
    }

    .PhotoGallery-sekilhissesi div {
        display: none;
    }

    .PhotoGallery-sekilmobil {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 100px;

        div img {
            width: 250px;
        }
    }

    .ourtrainers-text h2 {
        padding-bottom: 20px;
    }
    .photo{
        margin-bottom: -130px;
    }

    /*PhotoGallery-basliq bitdi*/

    /*dogger blog hissesi basladi*/
    .DoggerBlog-hissesi {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

    }

    .DoggerBlog-ikincihisse {
        display: none;
    }

    .doggerblog-sekilmobil{
        display: flex;
        flex-direction: column;
    }
    .ikinci{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;

        img{
            width: 100%;
        }

        h3, p{
            width: 100%;
        }
    }
    /*dogger blog hissesi bitdi*/
}